.AccueilLayout {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.AccueilLayout > * {
    margin: 10px;
    font-size: 2vh; /*3vmax*/
}

.AccueilCenter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.AccueilCenter > * {
    margin: 10px;
}
 
/**
 * Partie News
 */
 
.NewsLayout {

}

.NewsHeader{
    cursor: pointer;
}

.jumbotron {
    padding: 32px !important;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 0px !important;
    background-color: #C1B7A7 !important;
}

/**
 * Partie Media
 */

 .CarouselLayout > *, .TeaserLayout > * {
    min-width: 33vw !important;
    max-width: 85vw !important;
    height: 33vh !important;
}


/**
 * Partie Presentation
 */

.PresLayout {
    padding: 15px;
    border: solid 1px rgba(0, 0, 0, 0.125);
    background-color: #F4E7D3;
    border-radius: 0.25rem;
    max-width: 50vmax;
}

.PresContent {
    margin: 20px; 
}

/**
 * Partie Contacts
 */

.ContactLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}