.AccueilLayout {
    display: flex;
    flex-direction: column;
}

.Accueil {
    text-align: center;
}

.Accueil::after {
    content: "";
    background: url("./../medias/AnnonceTMP_background.jpg");
    opacity: 0.35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.Accueil > * {
    padding: 10px;
    font-size: 2em;
}

.AccueilH3 {
    padding-top: 50px !important;
    font-weight: bold !important;
    font-size: 3em !important;
}

.AccueilBtn {
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #4267B2;
    border-radius: 10px;
}

.AccueilBtn:hover{
    text-decoration: none;
    color: white;
    background-color: #3B5CA0;
}