.AccueilLayout {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*
.AccueilLayout::after {
    content: "";
    background-image: url("./../medias/NotFound_background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
*/

.AccueilLayout > * {
    margin: 10px;
    font-size: 2vh; /*3vmax*/
}

.AccueilCenter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.AccueilCenter > * {
    margin: 10px;
}

/**
 * Partie News
 */

.jumbotron {
    padding: 32px !important;
    margin-bottom: 0px !important;
    background-color: #C1B7A7 !important;
}

/**
 * Partie Media
 */

.VideoLayout > * {
    min-width: 33vw !important;
    max-width: 85vw !important;
    height: 33vh !important;
}

/**
 * Partie Presentation
 */

.PresLayout {
    padding: 15px;
    border: solid 1px rgba(0, 0, 0, 0.125);
    background-color: #F4E7D3;
    border-radius: 0.25rem;
    max-width: 50vmax;
}

/**
 * Partie Contacts
 */

.ContactLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}