/*
 * App.css
 */

.root {
  height: 100%;
}

.Page {
  margin-top: 30px;
  margin-bottom: 60px;
}

/* 
 * Theme font
*/

@font-face { font-family: F25_Executive; src: url('./font/F25_Executive.otf'); } 

/* 
 * Theme color
*/

.theme {
  background-color: #F4E7D3; /*rgb(244,231,211)*/
  color: #37342F; /*rgb(55,52,47)*/
}

.theme1 {
  background-color: #C1B7A7;
  color: #44403A;
}

.theme2 {
  background-color: #F6CC8B;
  color: #33302C;
}

.theme3 {
  background-color: #746142;
  color: #837C70;
}

.theme4 {
  background-color: #746E65;
  color: #C3B9A7;
}

/* 
 * Theme color reversed
*/

.theme-reverse {
  color: #F4E7D3;
  background-color: #37342F;
}

.theme-reverse1 {
  color: #C1B7A7;
  background-color: #44403A;
}

.theme-reverse2 {
  color: #F6CC8B;
  background-color: #33302C;
}

.theme-reverse3 {
  color: #746142;
  background-color: #837C70;
}

.theme-reverse4 {
  color: #746E65;
  background-color: #C3B9A7;
}