.App-header {
  position: relative;
  z-index: 3;
  height: 130px;
  padding: 20px 0px;
}

.App-title {
  text-align: center;
  font-size: 4vh;
  font-family: F25_Executive;
  /*font-variant: small-caps;*/
}

.nav-item {
  padding: 10px;
}

.nav-link {
  display: list-item !important;
  padding: 0px !important;
}

.dropdown > a {
  font-size: 2.5vh !important;
  font-family: F25_Executive !important;
  color:#37342F !important;
  text-decoration: none !important;
}

.dropdownLinks {
  font-size: 2vh !important;
  font-family: F25_Executive !important;
  color:#37342F !important;
  text-decoration: none !important;
}

.dropdown-item:active {
  background-color: transparent !important;
}

.nav-item > a, .nav-item > a:hover {
  font-size: 2.5vh;
  font-family: F25_Executive;
  color:#37342F;
  text-decoration: none;
}

.navbar {
  background-color: #F4E7D3;
  width: 100% !important;
}

.selectLang {
  width: 22vh !important;
}