/**
 * Partie Galerie
 */

.GalerieLayout, .VideosLayout {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.GalerieDiv, .VideoDiv {
    border: solid #37342F 1px;
    border-radius: 0.25rem;
    padding: 10px;
    margin: 20px;
    font-size: 2vh;
}

.GalerieImg {
    min-width: 23vw !important;
    max-width: 85vw !important;
    height: 53vh !important;
    border-radius: 0.75rem;
    border-right: double #37342F 10px;
    border-bottom: double #37342F 10px;
}
.GalerieImg:hover {
    border-right: groove #37342F 12px;
    border-bottom: groove #37342F 12px;
}

.ImageLayout {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.ImageImg {
    min-width: 23vw !important;
    max-width: 85vw !important;
    height: 53vh !important;
    padding: 20px;
    /*cursor: pointer;*/
}

.ImgFull {
    background-color: white;
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ImgFull > img {
    width: auto;
    height: 90vh !important;
    cursor: auto !important;
}

.DfltBackBtn, .StkyBackBtn {
    display:block;
    margin-left:20px;
    background-color:"#37342F";
}

.StkyBackBtn {
    z-index:100;
    position:fixed;
    top:0;
}

/**
 * Partie Videos
 */    

.VideoFrame {
    min-width: 43vw !important;
    max-width: 95vw !important;
    height: 43vh !important;
}
