.ProduitsLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProduitsLayout > * {
    margin: 10px;
    width: 70vw;
}

.ProduitsCard {    
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.ProduitsBody {
    
}

.ProduitsPics {
    padding: 20px;
    width: 25% !important;
    height: 100%;
}
