.ProduitsLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProduitsLayout > * {
    margin: 10px;
    width: 70vw;
}

.ProduitsCard {    
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.ProduitsBody {
    width: 25vw !important;
}

.ProduitsPics {
    padding: 20px;
    min-width: 40vh;
    max-width: 30vw;
    height: 100%;
}

.PriceBdg {
    vertical-align: middle !important;
    font-size:2.5vh !important;
    padding:10px !important;
    margin-right: 10px;
}