.TarifsLayout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.TilesLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.TarifsTiles {
    flex-basis: 25%;
    flex-shrink: 2;
    margin: 10px;
    min-width: 300px;
}

.TileHeader {
    font-size: 3.5vh; /*2.2vmax;*/
    font-weight: bold;
}

.card-header, .card-text {
    font-size: 2.5vh; /*1.5vmax;*/
}

.PriceLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PriceLine > * {
    flex-basis: 70%;
    flex-shrink: 1;
    flex-grow: 0;
}

.Price {
    flex-basis: 20%;
    flex-grow: 0;
}

.card-header:hover {
    cursor: pointer;
}

.BioticLayout {
    padding: 15px;
    margin: 30px; 
    border: solid 1px rgba(0, 0, 0, 0.125);
    background-color: #F4E7D3;
    border-radius: 0.25rem;
}

.BioticContent {
    margin: 20px; 
}

/**
OLD
.TarifsLayout {
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F4E7D3;
}

.TarifsLayout > img {
    max-width: 25em;
    max-height: 40em;
}
*/